[submodule "triqs"]
	path = triqs
	url = https://github.com/TRIQS/triqs
	branch = unstable
[submodule "dft_tools"]
	path = triqs_dft_tools
	url = https://github.com/TRIQS/dft_tools
	branch = unstable
[submodule "cthyb"]
	path = triqs_cthyb
	url = https://github.com/TRIQS/cthyb
	branch = unstable
[submodule "omegamaxent_interface"]
	path = omegamaxent_interface
	url = https://github.com/TRIQS/omegamaxent_interface
	branch = unstable
[submodule "tprf"]
	path = triqs_tprf
	url = https://github.com/TRIQS/tprf
	branch = unstable
[submodule "maxent"]
	path = triqs_maxent
	url = https://github.com/TRIQS/maxent
	branch = unstable
[submodule "hubbardI"]
	path = triqs_hubbardI
	url = https://github.com/triqs/hubbardI
	branch = unstable
[submodule "hartree_fock"]
	path = triqs_hartree_fock
	url = https://github.com/triqs/hartree_fock
	branch = unstable
[submodule "solid_dmft"]
	path = solid_dmft
	url = https://github.com/triqs/solid_dmft
	branch = unstable
[submodule "triqs_Nevanlinna"]
	path = triqs_Nevanlinna
	url = https://github.com/triqs/Nevanlinna
	branch = unstable
[submodule "triqs_ctseg"]
	path = triqs_ctseg
	url = https://github.com/triqs/ctseg
